{% extends 'stock/sidebar.html' %}

{% block main_area %}



<!--kospi table-->
<div class="card mb-4 col-8">
    <div class="card-header">
        <i class="fas fa-table me-1"></i>
        KOSDAQ 일별 시세
    </div>
    <div class="card-body">
        <table class="table" id="datatablesSimple">
            <thead>
            <tr>
                <th>날짜</th>
                <th>체결가</th>
                <th>거래량(천주)</th>
                <th>거래대금(백만)</th>
            </tr>
            </thead>

            <tbody>
            {% if kosdaq_list %}
            {% for k in kosdaq_list %}

            <tr>
                <td>{{ k.kosdaq_date }}</td>
                <td>{{ k.conclusion }}</td>
                <td>{{ k.volume }}</td>
                <td>{{ k.trade_value }}</td>
            </tr>
            {% endfor %}
            {%  endif %}
            </tbody>
        </table>
    </div>
</div>


{% if is_paginated %}
<ul class="pagination">
    {% if page_obj.has_previous %}
    <li class="page-item">
        <a class="page-link" href="?page={{ page_obj.previous_page_number }}"
            tabindex="-1">이전</a>
    </li>
    {% else %}
    <li class="page-item disabled">
        <a class="page-link" href="#" tabindex="-1">이전</a>
    </li>
    {% endif %}

    {% for page in page_range %}
    <li class="page-item {% if page == page_obj.number %} activate {% endif %}">
        <a class="page-link" href="?page={{ page }}">{{ page }}</a>
    </li>
    {% endfor %}

    {% if page_obj.has_next %}
    <li class="page-item">
        <a class="page-link"
            href="?page={{ page_obj.next_page_number }}">다음</a>
    </li>
    {% else %}
    <li class="page-item disabled">
        <a class="page-link" href="#">다음</a>
    </li>
    {% endif %}
</ul>
{% endif %}

{% endblock %}